@model FinalPayrollSystem.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LoginLayout";
}

<div class="container">
    <br /><br /><br />
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <span class="text-danger">@ViewBag.Result</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login to Payroll System</div>
                <form asp-controller="Login" asp-action="Index" method="post">
                    <div class="card-body">
                        <div class="form-group row">
                            <label asp-for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input asp-for="username" type="text" id="email_address" class="form-control" required autofocus>
                                <span asp-validation-for="username" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input asp-for="password" id="password" class="form-control" name="password" required>
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 offset-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button><br />
                            <a href="#" class="btn btn-link">
                                Forgot Your Password?
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>